@import "../common-scss/common-vars.scss";

h1 {
    color: $kolorTekstuZwykly;
}

/*
nav {
    margin: 16px;
}

nav > a {
    padding: 5px;
    margin: 5px;
    color: white;
    background-color: red;
}
*/

nav {
    margin: zwieksz($bazowyMargines * 3, 4) 0;
    > a {
        display: inline-block;
        padding: $bazowyMargines;
        margin-right: $bazowyMargines;
        color: $kolorLinka;
        background-color: $kolorTlaLinka; 
    }
}

.fragmentTestowy {
    @include obwodkaBloku
}
