<pre>
{{forma.value | json}}
</pre>


<form [formGroup]="forma" class="pierwszy" method="post" action="https://naszprzyszlyserwer/backend/api/zapisy">

    <div>
        <div class="et">
            <label for="imieEl">Imię</label>
        </div>
        <div class="da">
            <input id="imieEl" formControlName="imie" name="imie" type="text">
        </div>
    </div>

    <div *ngIf="!schowajPoczestunek">
        <div class="et">
            Poczęstunek:
        </div>
        <div  class="da" [formGroup]="forma.controls.poczestunek">
            <label for="kawaEl">Kawa</label>
            <input formControlName="kawa" id="kawaEl" name="poczestunek" type="checkbox" value="k">
            <label for="herbataEl">Herbata</label>
            <input formControlName="herbata" id="herbataEl" name="poczestunek" type="checkbox" value="h">
        </div>
    </div>

    <div>
        <div class="et">
            Płeć:
        </div>
        <div class="da">
            <label for="kobietaEl">kobieta</label>
            <input id="kobietaEl" formControlName="plec" name="plec" type="radio" value="k">
            <label for="mezczyznaEl">mezczyzna</label>
            <input id="mezczyznaEl" formControlName="plec" name="plec" type="radio" value="m">
        </div>
    </div>

    <div>
        <div class="et">
            <label for="komentarzeEl" >komentarze</label>
        </div>
        <div class="da">
            <textarea formControlName="komentarze" id="komentarzeEl" name="komentarze"></textarea>
        </div>
    </div>

    <div>
        <div class="et">
            <label for="dzieciEl">dzieci</label>
        </div>
        <div class="da">
            <select id="dzieciEl" name="dzieci" formControlName="dzieci">
                <option value="0">Brak</option>
                <option value="1">Jedno lub wiecej</option>
            </select>
        </div>
    </div>

    <div>
        <div class="et">
            
        </div>
        <div class="da">
            <input type="submit" value="Wyslij">
        </div>
    </div>

    <div>
        <div class="et">
            
        </div>
        <div class="da">
            <input (click)="zmien()" type="button" value="Zmien">
        </div>
    </div>

</form>